*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #000000;
    padding: 0 10px;
  }
  .wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
  }
  
  .wrapper .title{
    font-size: 24px;
    margin-bottom: 25px;
    color: #000000;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .wrapper .form .inputfield label{
     width: 200px;
     margin-right: 10px;
  }
  
 .wrapper .form .inputfield button{
    width: 100%;
    padding: 8px 10px; 
    border: 0px;
    background:  #000000;
    color: #fff;

  }

  textarea{
    resize: vertical;
  }
